.logo {
	margin: 8px 0 0 0;
	width: 200px;
}

.logo img {
	width: 100%;
}

.facebook-link {
	background-image: url("../img/social/facebook.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 32px;
}
